<!--Section Apresentação -->
<section id="apresentacao-section" class="py-8">
  <h2 class="text-2xl font-bold mb-4 text-center">Apresentação</h2>

  <div class="swiper mySwiper" id="apresentacao-section">
    <div class="swiper-wrapper">
      <!-- Cards injetados aqui -->
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</section>

<!--Section Treinamentos -->

<section id="treinamentos-section" class="bg-blue-600 text-white py-8">
<h2 class="text-2xl font-bold mb-4 text-center">Treinamentos</h2>  
    <div class="swiper mySwiper" id="treinamentos-section">
	<div class="swiper-wrapper">
      <!-- Os cards serão injetados aqui -->
    </div>
	<div class="swiper-button-next"></div>
	<div class="swiper-button-prev"></div>
  </div>
</section>

<!--Section Composer -->
<section id="composer-section" class="bg-blue-600 text-white py-8">
<h2 class="text-2xl font-bold mb-4 text-center">Composer</h2>
    <div class="swiper mySwiper" id="composer-section">
	<div class="swiper-wrapper">
      <!-- Os cards serão injetados aqui -->
    </div>
	<div class="swiper-button-next"></div>
	<div class="swiper-button-prev"></div>
  </div>
</section>

<!--Section Photo Center -->
<section id="photocenter-section" class="bg-blue-600 text-white py-8">
<h2 class="text-2xl font-bold mb-4 text-center">Photo Center</h2>
    <div class="swiper mySwiper" id="photocenter-section">
	<div class="swiper-wrapper">
      <!-- Os cards serão injetados aqui -->
    </div>
	<div class="swiper-button-next"></div>
	<div class="swiper-button-prev"></div>
  </div>
</section>

<!--Section Video Center -->
<section id="videocenter-section" class="bg-blue-600 text-white py-8">
<h2 class="text-2xl font-bold mb-4 text-center">Video Center</h2>
    <div class="swiper mySwiper" id="videocenter-section">
	<div class="swiper-wrapper">
      <!-- Os cards serão injetados aqui -->
    </div>
	<div class="swiper-button-next"></div>
	<div class="swiper-button-prev"></div>
  </div>
</section>

<!--Section Page Builder -->
<section id="pagebuilder-section" class="bg-blue-600 text-white py-8">
<h2 class="text-2xl font-bold mb-4 text-center">Page Builder</h2>
    <div class="swiper mySwiper" id="pagebuilder-section">
	<div class="swiper-wrapper">
      <!-- Os cards serão injetados aqui -->
    </div>
	<div class="swiper-button-next"></div>
	<div class="swiper-button-prev"></div>
  </div>
</section>

<!--Section Contato -->


<!-- Se quiser mais seções, pode adicionar novas divs aqui -->